[data-theme="obsidian"] {
  --theme-color-surface: #000000;
  --theme-color-surface-content: #f0f0f0;
  --theme-color-surface-alt: #0d0d0d;
  --theme-color-surface-alt-content: #f0f0f0;
  --theme-color-high-emphasis: #f0f0f0;
  --theme-color-medium-emphasis: #888888;
  --theme-color-low-emphasis: #555555;
  --theme-color-border: #1a1a1a;
  --theme-color-overlay: #00000080;
  --theme-color-primary: #a78bfa;
  --theme-color-primary-content: #ffffff;
  --theme-color-primary-hover: #c4b5fd;
  --theme-color-primary-hover-content: #ffffff;
  --theme-color-primary-active: #dfd4fd;
  --theme-color-primary-active-content: #ffffff;
  --theme-color-primary-focus: #a78bfa80;
  --theme-color-primary-focus-content: #ffffff;
  --theme-color-primary-disabled: #b6a9dc;
  --theme-color-primary-disabled-content: #ffffff;
  --theme-color-secondary: #4c4f6b;
  --theme-color-secondary-content: #ffffff;
  --theme-color-secondary-hover: #616589;
  --theme-color-secondary-hover-content: #ffffff;
  --theme-color-secondary-active: #6d7197;
  --theme-color-secondary-active-content: #ffffff;
  --theme-color-secondary-focus: #4c4f6b80;
  --theme-color-secondary-focus-content: #ffffff;
  --theme-color-secondary-disabled: #5c5c5c;
  --theme-color-secondary-disabled-content: #ffffff;
  --theme-color-info: #93c5fd;
  --theme-color-info-content: #ffffff;
  --theme-color-info-hover: #c5e0fe;
  --theme-color-info-hover-content: #ffffff;
  --theme-color-info-active: #deedfe;
  --theme-color-info-active-content: #ffffff;
  --theme-color-info-focus: #93c5fd80;
  --theme-color-info-focus-content: #ffffff;
  --theme-color-info-disabled: #afc7e2;
  --theme-color-info-disabled-content: #ffffff;
  --theme-color-success: #6ee7b7;
  --theme-color-success-content: #ffffff;
  --theme-color-success-hover: #9aeecd;
  --theme-color-success-hover-content: #ffffff;
  --theme-color-success-active: #b0f2d8;
  --theme-color-success-active-content: #ffffff;
  --theme-color-success-focus: #6ee7b780;
  --theme-color-success-focus-content: #ffffff;
  --theme-color-success-disabled: #98bdae;
  --theme-color-success-disabled-content: #ffffff;
  --theme-color-warning: #fcd34d;
  --theme-color-warning-content: #ffffff;
  --theme-color-warning-hover: #fddf7f;
  --theme-color-warning-hover-content: #ffffff;
  --theme-color-warning-active: #fde698;
  --theme-color-warning-active-content: #ffffff;
  --theme-color-warning-focus: #fcd34d80;
  --theme-color-warning-focus-content: #ffffff;
  --theme-color-warning-disabled: #cfbb7a;
  --theme-color-warning-disabled-content: #ffffff;
  --theme-color-danger: #fca5a5;
  --theme-color-danger-content: #ffffff;
  --theme-color-danger-hover: #fecaca;
  --theme-color-danger-hover-content: #ffffff;
  --theme-color-danger-active: #feefef;
  --theme-color-danger-active-content: #ffffff;
  --theme-color-danger-focus: #fca5a580;
  --theme-color-danger-focus-content: #ffffff;
  --theme-color-danger-disabled: #e5bcbc;
  --theme-color-danger-disabled-content: #ffffff;
  --theme-shadow-xs: 0px 1px 1px 0px #0000000d;
  --theme-shadow-sm: 0px 1px 2px 0px #0000001a;
  --theme-shadow-md: 0px 4px 8px 0px #00000026;
  --theme-shadow-lg: 0px 8px 16px 0px #00000033;
  --theme-shadow-xl: 0px 12px 24px 0px #0000004d;
  --theme-font-family: Geist Mono, monospace;
  --theme-border-width: 1px;
}
