[data-theme="pearl"] {
  --theme-color-surface: #ffffff;
  --theme-color-surface-content: #111111;
  --theme-color-surface-alt: #f5f5f5;
  --theme-color-surface-alt-content: #111111;
  --theme-color-high-emphasis: #111111;
  --theme-color-medium-emphasis: #666666;
  --theme-color-low-emphasis: #999999;
  --theme-color-border: #e5e5e5;
  --theme-color-overlay: #00000033;
  --theme-color-primary: #818cf8;
  --theme-color-primary-content: #ffffff;
  --theme-color-primary-hover: #a5b4fc;
  --theme-color-primary-hover-content: #ffffff;
  --theme-color-primary-active: #394af4;
  --theme-color-primary-active-content: #ffffff;
  --theme-color-primary-focus: #818cf880;
  --theme-color-primary-focus-content: #ffffff;
  --theme-color-primary-disabled: #a2a7d7;
  --theme-color-primary-disabled-content: #ffffff;
  --theme-color-secondary: #8b8b8b;
  --theme-color-secondary-content: #ffffff;
  --theme-color-secondary-hover: #727272;
  --theme-color-secondary-hover-content: #ffffff;
  --theme-color-secondary-active: #656565;
  --theme-color-secondary-active-content: #ffffff;
  --theme-color-secondary-focus: #8b8b8b80;
  --theme-color-secondary-focus-content: #ffffff;
  --theme-color-secondary-disabled: #8b8b8b;
  --theme-color-secondary-disabled-content: #ffffff;
  --theme-color-info: #60a5fa;
  --theme-color-info-content: #ffffff;
  --theme-color-info-hover: #2f89f8;
  --theme-color-info-hover-content: #ffffff;
  --theme-color-info-active: #167bf8;
  --theme-color-info-active-content: #ffffff;
  --theme-color-info-focus: #60a5fa80;
  --theme-color-info-focus-content: #ffffff;
  --theme-color-info-disabled: #89a9d1;
  --theme-color-info-disabled-content: #ffffff;
  --theme-color-success: #34d399;
  --theme-color-success-content: #ffffff;
  --theme-color-success-hover: #26ae7c;
  --theme-color-success-hover-content: #ffffff;
  --theme-color-success-active: #21996d;
  --theme-color-success-active-content: #ffffff;
  --theme-color-success-focus: #34d39980;
  --theme-color-success-focus-content: #ffffff;
  --theme-color-success-disabled: #729588;
  --theme-color-success-disabled-content: #ffffff;
  --theme-color-warning: #f59e0b;
  --theme-color-warning-content: #ffffff;
  --theme-color-warning-hover: #c57f08;
  --theme-color-warning-hover-content: #ffffff;
  --theme-color-warning-active: #ac6f07;
  --theme-color-warning-active-content: #ffffff;
  --theme-color-warning-focus: #f59e0b80;
  --theme-color-warning-focus-content: #ffffff;
  --theme-color-warning-disabled: #b68e4a;
  --theme-color-warning-disabled-content: #ffffff;
  --theme-color-danger: #ef4444;
  --theme-color-danger-content: #ffffff;
  --theme-color-danger-hover: #f87171;
  --theme-color-danger-hover-content: #ffffff;
  --theme-color-danger-active: #d41212;
  --theme-color-danger-active-content: #ffffff;
  --theme-color-danger-focus: #ef444480;
  --theme-color-danger-focus-content: #ffffff;
  --theme-color-danger-disabled: #bc7777;
  --theme-color-danger-disabled-content: #ffffff;
  --theme-shadow-xs: 0px 1px 1px 0px #00000008;
  --theme-shadow-sm: 0px 1px 2px 0px #00000010;
  --theme-shadow-md: 0px 4px 8px 0px #00000014;
  --theme-shadow-lg: 0px 8px 16px 0px #0000001a;
  --theme-shadow-xl: 0px 12px 24px 0px #00000026;
  --theme-font-family: Geist Mono, monospace;
  --theme-border-width: 1px;
}
