[data-theme="vapor"] {
  --theme-color-surface: #ffffff;
  --theme-color-surface-content: #111111;
  --theme-color-surface-alt: #f5f5f5;
  --theme-color-surface-alt-content: #111111;
  --theme-color-high-emphasis: #111111;
  --theme-color-medium-emphasis: #666666;
  --theme-color-low-emphasis: #999999;
  --theme-color-border: #e5e5e5;
  --theme-color-overlay: #00000033;
  --theme-color-primary: #00ddff;
  --theme-color-primary-content: #ffffff;
  --theme-color-primary-hover: #33eeff;
  --theme-color-primary-hover-content: #ffffff;
  --theme-color-primary-active: #009bb3;
  --theme-color-primary-active-content: #ffffff;
  --theme-color-primary-focus: #00ddff80;
  --theme-color-primary-focus-content: #ffffff;
  --theme-color-primary-disabled: #40aebf;
  --theme-color-primary-disabled-content: #ffffff;
  --theme-color-secondary: #664455;
  --theme-color-secondary-content: #ffffff;
  --theme-color-secondary-hover: #47303c;
  --theme-color-secondary-hover-content: #ffffff;
  --theme-color-secondary-active: #38252f;
  --theme-color-secondary-active-content: #ffffff;
  --theme-color-secondary-focus: #66445580;
  --theme-color-secondary-focus-content: #ffffff;
  --theme-color-secondary-disabled: #555555;
  --theme-color-secondary-disabled-content: #ffffff;
  --theme-color-info: #3399ff;
  --theme-color-info-content: #ffffff;
  --theme-color-info-hover: #007fff;
  --theme-color-info-hover-content: #ffffff;
  --theme-color-info-active: #0073e5;
  --theme-color-info-active-content: #ffffff;
  --theme-color-info-focus: #3399ff80;
  --theme-color-info-focus-content: #ffffff;
  --theme-color-info-disabled: #6699cc;
  --theme-color-info-disabled-content: #ffffff;
  --theme-color-success: #00dd66;
  --theme-color-success-content: #ffffff;
  --theme-color-success-hover: #00aa4e;
  --theme-color-success-hover-content: #ffffff;
  --theme-color-success-active: #009143;
  --theme-color-success-active-content: #ffffff;
  --theme-color-success-focus: #00dd6680;
  --theme-color-success-focus-content: #ffffff;
  --theme-color-success-disabled: #37a66a;
  --theme-color-success-disabled-content: #ffffff;
  --theme-color-warning: #ff7700;
  --theme-color-warning-content: #ffffff;
  --theme-color-warning-hover: #cc5f00;
  --theme-color-warning-hover-content: #ffffff;
  --theme-color-warning-active: #b35300;
  --theme-color-warning-active-content: #ffffff;
  --theme-color-warning-focus: #ff770080;
  --theme-color-warning-focus-content: #ffffff;
  --theme-color-warning-disabled: #bf7b40;
  --theme-color-warning-disabled-content: #ffffff;
  --theme-color-danger: #ff2266;
  --theme-color-danger-content: #ffffff;
  --theme-color-danger-hover: #ff5588;
  --theme-color-danger-hover-content: #ffffff;
  --theme-color-danger-active: #d40041;
  --theme-color-danger-active-content: #ffffff;
  --theme-color-danger-focus: #ff226680;
  --theme-color-danger-focus-content: #ffffff;
  --theme-color-danger-disabled: #c8597b;
  --theme-color-danger-disabled-content: #ffffff;
  --theme-shadow-xs: 0px 1px 1px 0px #00000008;
  --theme-shadow-sm: 0px 1px 2px 0px #00000010;
  --theme-shadow-md: 0px 4px 8px 0px #00000014;
  --theme-shadow-lg: 0px 8px 16px 0px #0000001a;
  --theme-shadow-xl: 0px 12px 24px 0px #00000026;
  --theme-font-family: Geist Mono, monospace;
  --theme-border-width: 1px;
}
